.calendarHeading {
    border-radius: 15px;
    background-color: #ffffff !important;
    border-top: 3px solid #a8c0ff;
}

.mealMenu {
    border-radius: 15px;
}

ion-slide {
    --bullet-background:
    --bullet-background-active;
}

ion-item {
    --background: rgba(0,0,0,0);
    --border-color: rgba(0, 0, 0, 0);
}