<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="close()" color="primary">
        VOLVER
      </ion-button>
    </ion-buttons>
    <ion-title>Descripción de la Receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="recipesMenu">
    <ion-card-header>
      <ion-card-title style="text-align: center;">
        Ingredientes
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item-group>
        <div *ngFor="let items of cleanIngredients">
          <ion-item>{{items}}</ion-item>
        </div>
      </ion-item-group>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card class="recipesMenu">
    <ion-card-header>
      <ion-card-title style="text-align: center;">
        Procedimiento
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: justify;">
      <div *ngFor="let paraph of formattedProcedure">
        <p>{{paraph}}.</p>
        <br>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>