ion-item {
    --background: none ;
}

ion-content {
    --background: none;
    background-color: #ffffff;

}

ion-list {
    background: transparent;
}

ion-card-title {
    background: transparent ;
}

ion-card {
    border-radius: 10px !important;   
}

.box img{
    overflow: hidden;
    min-height: 300px;

}
.slider-slides{
    height:300px;
}