<app-header titulo="Rutinas"></app-header>

<ion-content>
    <ion-card class="calendarHeading">
		<ion-card-header>
			<ion-card-title style="text-align: center">
				Rutinas Disponibles
			</ion-card-title>
			<ion-card-subtitle style="text-align: center">
				Selecciona un grupo de ejercicios.
			</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<ion-slides [options]="sliderOpts" scrollbar="true">
				<ion-slide>
					<ion-grid>
						<ion-row>
							<ion-col size="4" *ngFor="let day of dayController">
								<ion-button fill="outline" (click)="getRoutine(day)">Gpo. {{day}}</ion-button>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-slide>
			</ion-slides>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>
			<ion-card-subtitle *ngIf="weekDay == undefinied" style="text-align: center">
				Selecciona un Ejercicio.
			</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<ion-card class="ion-activatable" *ngFor="let items of currentRoutine; let i = index" (click)="showExModal(items)">
				<ion-card-header>{{items.name}}</ion-card-header>
				<ion-ripple-effect></ion-ripple-effect>
			</ion-card>
		</ion-card-content>
	</ion-card>

</ion-content>
