.calendarHeading {
    border-radius: 15px;
    background-color: #ffffff !important;
    border-top: 3px solid #ffa44e;
}

ion-button {
    display: block;
}

.routineMenu {
    border-radius: 15px;
    background-color: #ffffff !important;
    border-top: 3px solid #ffa44e;
}

