.calendarHeading {
    border-radius: 15px;
    background-color: #ffffff !important;
    border-top: 3px solid #45b649;
}

.mealMenu {
    border-radius: 15px;
    background-color: #ffffff !important;
    border-top: 3px solid #45b649;
}

ion-button {
    display: block;
    --background-activated: solid;
}