<app-header titulo="WellnessPal"></app-header>

<ion-content>
	<ion-card class="uniqueContainer">
		<ion-card-header>
			<img class="greetImg" src="assets/ico.png">

			<ion-card-subtitle style="text-align: center">
				¡Bienvenido!
			</ion-card-subtitle>

			<ion-card-title style="text-align: center">
				{{userData.username}}
			</ion-card-title>
		</ion-card-header>
	</ion-card>

	<ion-card class="menuMeal" (click)="getMeals()">
		<ion-card-header>
			Comidas
		</ion-card-header>
	</ion-card>
	<ion-card class="menuRoutine" routerLink="/routines">
		<ion-card-header>
			Rutinas
		</ion-card-header>
	</ion-card>
	<ion-card class="menuForm" routerLink="/form">
		<ion-card-header>
			Formulario de Pasantias
		</ion-card-header>
	</ion-card>
</ion-content>